<div class="flex items-center justify-center">
    {% if cart.item_count > 0 %}
    {% else %}
        <div class="max-w-6xl h-60 my-4 flex flex-col items-center justify-center ">
            <div class="text-center">
                <h2 class="text-4xl">Su carrito esta vacio</h2>
            </div>
            <a  class="text-base text-white font-bold py-2 px-4 my-4 bg-blue-600 hover:bg-blue-900 block" href="{{ routes.all_products_collection_url  }}">Continua comprando</a>
        </div>
    {% endif %}
</div>